<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dyna Cheatsheet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/css/foundation.min.css" integrity="sha256-iJQ8dZac/jUYHxiEnZJsyVpKcdq2sQvdA7t02QFmp30= sha384-SplqNBo/0ZlvSdwrP/riIPDozO5ck8+yIm++KVqyMAC53S6m3BaV+2OLpi7ULOOh sha512-ho6hK4sAWdCeqopNZWNy1d9Ok2hzfTLQLcGSr8ZlRzDzh6tNHkVoqSl6wgLsqls3yazwiG9H9dBCtSfPuiLRCQ==" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="../dyna-signet/dyna-signet-onorange-256.png" sizes="32x32">
</head>
<body>

<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><img src="../dyna-logo/dyna-logo-250.png" style="width: 50px"></li>
            <li><a href="http://dyna.local" target="_blank">Local</a></li>
            <li><a href="https://demo.dyna.press" target="_blank">Staging</a></li>
            <li><a href="https://dyna.press" target="_blank">Live</a></li>
            <li><a href="https://github.com/dyna-press" target="_blank">Github</a></li>
        </ul>
    </div>
</div>

<div class="callout large primary">
    <div class="text-center">
        <img src="../dyna-signet/dyna-signet-blue-256.png" style="width: 90px; height: 90px; margin-bottom:20px">
        <h4 class="subheader">Welcome Alf, build your dream!</h4>
    </div>
</div>

<br>

<div class="grid-container">
    <div class="grid-x">
        <div class="cell medium-4 large-4 center">
            <h4>Most wanted</h4>
            <li><a href="http://dyna.local" target="_blank">Local Development</a> | <a href="http://dyna.local/wp-admin" target="_blank">Admin</a></li>
            <li><a href="https://ko-yao-noi.com" target="_blank">Staging Platform</a> | <a href="https://ko-yao-noi.com/wp-admin" target="_blank">Admin</a></li>
            <li><a href="https://dyna.press" target="_blank">Live Website</a> | <a href="https://dyna.press/wp-admin" target="_blank">Admin</a></li>
            <li><a href="https://github.com/dyna-press" target="_blank">Dyna on Github</a> | <a href="https://github.com/dyna-press/dyna/issues" target="_blank">Issues</a></li>
        </div>
        <div class="cell medium-4 large-4">
            <h4>Document and Translate</h4>
            <li><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheatsheet</a></li>
            <li><a href="https://www.deepl.com/" target="_blank">DeepL Translator</a></li>
            <li><a href="https://translate.google.com/" target="_blank">Google Translate</a></li>
        </div>
        <div class="cell medium-4 large-4">
            <h4>Docs & Resources</h4>
            <li><a href="https://foundation.zurb.com/sites/docs/" target="_blank">Foundation Docs</a></li>
            <li><a href="https://generatewp.com/theme-support/" target="_blank">Theme Support Generator</a></li>
            <li><a href="https://codex.wordpress.org/" target="_blank">WordPress Codex</a></li>
        </div>
    </div>
</div>

<hr>
<br>

<div class="grid-container">
    <div class="grid-x">
        <div class="cell medium-4 large-4">
            <h4>HTML & CSS</h4>
            <li><a href="https://selfhtml.org/" target="_blank">&lt;!selfhtml /&gt;</a></li>
            <li><a href="https://www.w3schools.com/html/" target="_blank">w3schools</a></li>
        </div>
        <div class="cell medium-4 large-4">
            <h4>Image Manipulation</h4>
            <li><a href="http://icoconvert.com/" target="_blank">PNG to ICO Converter</a></li>
        </div>
        <div class="cell medium-4 large-4">
            <h4>Starter Themes on Github</h4>
            <li><a href="https://github.com/WordPress/gutenberg-starter-theme" target="_blank">Gutenberg Starter Theme</a></li>
            <li><a href="https://github.com/Automattic/_s" target="_blank">Underscores Theme on Github</a></li>
            <li><a href="https://github.com/JeremyEnglert/JointsWP/" target="_blank">JointsWP Theme on Github</a></li>
            <li><a href="https://github.com/olefredrik/FoundationPress/" target="_blank">FoundationPress on Github</a></li>
            <li><a href="https://github.com/understrap/understrap" target="_blank">Understrap Theme on Github</a></li>
            <li><a href="https://github.com/roots/sage" target="_blank">Sage by Roots on Github</a></li>
        </div>
    </div>
</div>

<hr>
<br>

<div class="grid-container">
    <div class="grid-x">
        <div class="cell medium-4 large-4">
            <h4>Coming soon</h4>
            <li><a href="#" target="_blank">Add link here</a></li>
        </div>
        <div class="cell medium-4 large-4">
            <h4>Coming soon</h4>
            <li><a href="#" target="_blank">Add link here</a></li>
        </div>
        <div class="cell medium-4 large-4">
            <h4>Coming soon</h4>
            <li><a href="#" target="_blank">Add link here</a></li>
        </div>
    </div>
</div>

<hr>

<footer>
    <br>
    <div class="grid-container" style="text-align: center">
        <h5>You may use this <a href="http://htmlpreview.github.io/?https://github.com/dyna-press/dyna-assets/blob/master/templates/Dyna-Cheatsheet.html">Cheatsheet online</a> or create a local copy from <a href="https://github.com/dyna-press/dyna-assets/tree/master/templates">Github</a>.</h5>
        <h5>Have fun coding!</h5>
    </div>
    <br>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/what-input@5.1.1/dist/what-input.min.js" integrity="sha256-mZ9p7jVl704iNAIB4vCtGXyqW74TG2fwu80nz/OZ04o=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/js/foundation.min.js" integrity="sha256-G6jsRyH1fxbsvFIXSCuwYmI1aIDYBa28xscrvmYjJy0= sha384-vtoG68NvPc9azmFJr447vvY8qgdyA4FdaJ5/bqvzIM4eAdZfO0iyRRF8l2AAscYI sha512-43seCcNrHA0BQgrtyajB9sp8yOdv5c8QdYvgjP7zJ7v+dmzAcxYDQ2gupb9aztsNWBq1COIp/3NHYkQs4l/dkg==" crossorigin="anonymous"></script>
<script>
    $(document).foundation();
</script>

</body>
</html>
