<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dyna Cheatsheet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/css/foundation.min.css" integrity="sha256-iJQ8dZac/jUYHxiEnZJsyVpKcdq2sQvdA7t02QFmp30= sha384-SplqNBo/0ZlvSdwrP/riIPDozO5ck8+yIm++KVqyMAC53S6m3BaV+2OLpi7ULOOh sha512-ho6hK4sAWdCeqopNZWNy1d9Ok2hzfTLQLcGSr8ZlRzDzh6tNHkVoqSl6wgLsqls3yazwiG9H9dBCtSfPuiLRCQ==" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="../dyna-signet/dyna-signet-onorange-256.png" sizes="32x32">
</head>
<body>

<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><img src="../dyna-logo/dyna-logo-250.png" style="width: 50px"></li>
            <li><a href="http://dyna.local" target="_blank">Local</a></li>
            <li><a href="https://demo.dyna.press" target="_blank">Staging</a></li>
            <li><a href="https://dyna.press" target="_blank">Live</a></li>
            <li><a href="https://github.com/dyna-press" target="_blank">Github</a></li>
        </ul>
    </div>
</div>

<div class="callout large primary">
    <div class="text-center">
        <img src="../dyna-signet/dyna-signet-blue-256.png" style="width: 90px; height: 90px; margin-bottom:20px">
        <h5 class="subheader">Welcome Alf, build your dream!</h5>
    </div>
</div>

<br>

<div class="grid-container">
    <div class="grid-x">
        <div class="cell medium-3 large-3 center">
            <h5>Most wanted</h5>
            <li><a href="http://dyna.local" target="_blank">Local Development</a> | <a href="http://dyna.local/wp-admin" target="_blank" style="color:red">WP</a></li>
            <li><a href="https://ko-yao-noi.com" target="_blank">Staging WP Alpha</a> | <a href="https://ko-yao-noi.com/wp-admin" target="_blank" style="color:red">WP</a></li>
            <li><a href="https://dyna.press" target="_blank">Dyna Live Website</a> | <a href="https://dyna.press/wp-admin" target="_blank" style="color:red">WP</a></li>
            <li><a href="https://github.com/dyna-press" target="_blank">Dyna on Github</a> | <a href="https://github.com/dyna-press/dyna/issues" target="_blank" style="color:red">Issues</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Translate</h5>
            <li><a href="https://poeditor.com/" target="_blank">Poeditor.com</a> | <a href="https://poeditor.com/join/project/t3gmD1eDOu" target="_blank" style="color:red">Go</a></li>
            <li><a href="https://www.deepl.com/" target="_blank">DeepL Translator</a></li>
            <li><a href="https://translate.google.com/" target="_blank">Google Translate</a></li>
            <li><a href="https://poedit.net/">Poedit Pro</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Docs & Resources</h5>
            <li><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheatsheet</a></li>
            <li><a href="https://generatewp.com/theme-support/" target="_blank">Theme Support Generator</a></li>
            <li><a href="https://codex.wordpress.org/" target="_blank">WordPress Codex</a></li>
            <li><a href="https://zurb.com/playground/" target="_blank">Zurb Playground</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Other things</h5>
            <li><a href="http://icoconvert.com/" target="_blank">PNG to ICO Converter</a></li>
            <li><a href="https://eslint.org/demo/" target="_blank">Eslint Online</a></li>
            <li><a href="https://richtabor.com/" target="_blank">Rich Tabor</a></li>
            <li><a href="https://wordpress.org/gutenberg/handbook/" target="_blank">Gutenberg Handbook</a></li>
            <li>More Gutenberg things ...</li>
        </div>
    </div>
</div>

<hr>
<br>
<h3 style="text-align: center">Frameworks</h3>
<br>

<div class="grid-container">
    <div class="grid-x">
        <div class="cell medium-3 large-3">
            <h5>Starter Themes</h5>
            <li><a href="https://github.com/WordPress/gutenberg-starter-theme" target="_blank">Gutenberg Theme</a></li>
            <li><a href="https://github.com/Automattic/_s" target="_blank">Underscores Theme</a></li>
            <li><a href="https://github.com/JeremyEnglert/JointsWP/" target="_blank">JointsWP Theme</a></li>
            <li><a href="https://github.com/olefredrik/FoundationPress/" target="_blank">FoundationPress</a></li>
            <li><a href="https://github.com/understrap/understrap" target="_blank">Understrap Theme</a></li>
            <li><a href="https://github.com/roots/sage" target="_blank">Sage by Roots</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Frontend Frameworks</h5>
            <li><a href="https://foundation.zurb.com/" target="_blank">Foundation</a> | <a href="https://foundation.zurb.com/sites/docs/" target="_blank">Docs</a></li>
            <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
            <li><a href="https://html5boilerplate.com/" target="_blank">HTML5 Boilerplate</a></li>
            <li><a href="https://semantic-ui.com/" target="_blank">Semantic UI</a></li>
            <li><a href="https://github.com/dogfalo/materialize/" target="_blank">Materialize</a></li>
            <li><a href="https://getuikit.com/" target="_blank">UIkit</a></li>
            <li><a href="http://tachyons.io/" target="_blank">Tachyons</a></li>
            <li><a href="https://tailwindcss.com/" target="_blank">TailwindCSS</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Javascript Frameworks</h5>
            <li><a href="https://github.com/vuejs/vue" target="_blank">Vue.js</a> | <a href="https://vuejs.org/v2/guide/" target="_blank">Docs</a></li>
            <li><a href="https://github.com/facebook/react/" target="_blank">React JS</a> | <a href="https://reactjs.org/" target="_blank">Docs</a></li>
            <li><a href="https://github.com/facebook/react-native" target="_blank">React Native</a> | <a href="https://facebook.github.io/react-native/" target="_blank">Docs</a></li>
            <li><a href="https://github.com/angular/angular" target="_blank">Angular</a> | <a href="https://angular.io/" target="_blank">Docs</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Headless WP</h5>
            <li><a href="https://github.com/krestaino/nuepress/" target="_blank">Nuepress</a></li>
            <li><a href="https://medium.com/@moustachedesign/creating-a-website-with-nuxt-js-and-wordpress-rest-api-51cf66599cf3" target="_blank">Howto on Medium</a></li>
            <li><a href="https://medium.freecodecamp.org/how-to-build-react-apps-on-top-of-the-wordpress-rest-api-bcc632808025" target="_blank">Howto on Medium 2</a></li>
        </div>
    </div>
</div>


<hr>
<br>
<h3 style="text-align: center">Design</h3>
<br>

<div class="grid-container">
    <div class="grid-x">
        <div class="cell medium-3 large-3">
            <h5>Inspiration</h5>
            <li><a href="https://dribbble.com/" target="_blank">Dribbble</a></li>
            <li><a href="https://www.behance.net/" target="_blank">Behance</a></li>
            <li><a href="https://www.awwwards.com/" target="_blank">Awwwards</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Colors</h5>
            <li><a href="https://color.adobe.com/" target="_blank">Adobe Color</a></li>
            <li><a href="https://colorable.jxnblk.com/496600/80ff00" target="_blank">Colorable</a></li>
            <li><a href="http://www.99colors.net/" target="_blank">99colors</a></li>
            <li><a href="http://google.github.io/palette.js/" target="_blank">Google Palette.js</a></li>
            <li><a href="https://github.com/ericyd/sass-colorscheme" target="_blank">Sass Colorscheme</a></li>
            <li><a href="https://tallys.github.io/color-theory/" target="_blank">Color Theory</a></li>
            <li><a href="https://tallys.github.io/lumen/sassdoc/" target="_blank">Sass Lumen</a></li>
            <li><a href="https://github.com/arcarson/palette-generator" target="_blank">Palette Generator</a></li>
            <li><a href="https://github.com/c0bra/color-scheme-js" target="_blank">Color Scheme JS</a></li>
            <li><a href="http://paletton.com/" target="_blank">Paletton.com</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Rules</h5>
            <li><a href="https://refactoringui.com/" target="_blank">RefactoringUI</a></li>
            <li><a href="https://uxdesign.cc/design-better-forms-96fadca0f49c" target="_blank">Design better forms</a></li>
            <li><a href="https://uxdesign.cc/ui-ux-case-study-a-step-by-step-guide-to-the-process-of-designing-a-pet-diet-app-d635b911b648" target="_blank">App Design</a></li>
            <li><a href="https://uxplanet.org/7-basic-rules-for-button-design-63dcdf5676b4" target="_blank">Buttons</a> </li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Fonts</h5>
            <li><a href="https://fonts.google.com/" target="_blank">Google Fonts</a></li>
            <li><a href="https://www.myfonts.com/WhatTheFont/" target="_blank">What the font?</a></li>
        </div>

    </div>
</div>


<hr>
<br>
<h3 style="text-align: center">Learning</h3>
<p style="text-align: center"><a href="https://medium.com/coderbyte/a-guide-to-becoming-a-full-stack-developer-in-2017-5c3c08a1600c" target="_blank">Becoming a Full Stack Dev</a> </p>
<br>

<div class="grid-container">
    <div class="grid-x">
        <div class="cell medium-3 large-3">
            <h5>HTML & CSS</h5>
            <li><a href="https://www.freecodecamp.org/" target="_blank">FreeCodeCamp</a></li>
            <li><a href="https://selfhtml.org/" target="_blank">&lt;!selfhtml /&gt;</a></li>
            <li><a href="https://www.w3schools.com/html/" target="_blank">w3schools</a></li>
            <li><a href="https://medium.com/@js_tut/css-tutorial-1-box-model-6ff80a9bbfda">CSS Box Model</a></li>
            <li><a href="https://medium.com/@jillplatts/6-minute-beginners-guide-to-css-flexbox-527b3ff3480b">CSS FlexBox</a></li>
            <li><a href="https://medium.freecodecamp.org/how-to-get-better-at-writing-css-a1732c32a72f" target="_blank">Write better (S)CSS</a></li>
            <li>CSS Garden and more soon</li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Javascript</h5>
            <li><a href="https://developer.mozilla.org/de/docs/Web/JavaScript" target="_blank">MDN Javascript</a></li>
            <li><a href="https://www.youtube.com/playlist?list=PLzuWG2YVYFwZ9AITFe9kjA2JSV8HVd1id" target="_blank">JS free Video Courses</a></li>
            <li><a href="https://medium.freecodecamp.org/learn-these-javascript-fundamentals-and-become-a-better-developer-2a031a0dc9cf" target="_blank">JS Fundamentals</a></li>
            <li><a href="https://medium.freecodecamp.org/typescript-javascript-with-super-powers-a333b0fcabc9" target="_blank">Typescript</a> </li>
            <li><a href="https://medium.com/@kristyburge/why-this-is-so-powerful-in-javascript-34116f1ca5f2" target="_blank">This or not!</a> </li>
            <li>jQuery and more soon</li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>PHP, WordPress</h5>
            <li><a href="https://medium.com/@tfidry/managing-your-dependencies-in-php-321d584441ab" target="_blank">Learn Composer</a> </li>
            <li><a href="http://blog.teamtreehouse.com/dependency-management-in-php-using-composer" target="_blank">Learn Composer 2</a></li>
            <li>more soon</li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>CSS Grid Reads</h5>
            <li><a href="https://www.cssigniter.com/creating-simple-wordpress-blogging-layout-css-grid-flexbox/" target="_blank">CSS Grid for WP</a></li>
            <li><a href="https://www.cssigniter.com/wordpress-and-css-grid-building-a-flexible-listing-template/" target="_blank">CSS Grid for WP</a></li>
            <li><a href="https://www.hongkiat.com/blog/css-grid-wordpress/" target="_blank">CSS Grid for WP</a></li>
            <li><a href="https://foundation.zurb.com/learn/learn-the-basics-of-css-grid.html" target="_blank">CSS Grid Foundation</a></li>
            <li><a href="https://hacks.mozilla.org/2017/04/replace-bootstrap-layouts-with-css-grid/" target="_blank">CSS Grid Bootstrap</a></li>
            <li><a href="https://open.nytimes.com/bootstrap-to-css-grid-87b3f5f830e4" target="_blank">CSS Grid Bootstrap</a></li>
        </div>
    </div>
</div>


<hr>
<br>
<h3 style="text-align: center">Quality Assurance</h3>
<br>

<div class="grid-container">
    <div class="grid-x">
        <div class="cell medium-3 large-3">
            <h5>Validators</h5>
            <li><a href="https://validator.w3.org/" target="_blank">W3 HTML5 Validator</a></li>
            <li><a href="https://html5.validator.nu/" target="_blank">NU HTML5 Validator</a></li>
            <li><a href="https://jigsaw.w3.org/css-validator/" target="_blank">W3 CSS Validator</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Browsertest</h5>
            <li><a href="https://www.browserstack.com/" target="_blank">Browserstack</a></li>
            <li><a href="https://www.browserling.com/" target="_blank">Browserling</a></li>
            <li><a href="http://browsershots.org/" target="_blank">Browsershots</a></li>
            <li><a href="https://browsersync.io/" target="_blank">Browsersync</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>CI Systems</h5>
            <li><a href="http://travis-ci.com" target="_blank">Travis CI</a> | <a href="http://travis-ci.com/dyna-press/dyna" target="_blank" style="color:red">Run</a></li></li>
            <li><a href="https://scrutinizer-ci.com" target="_blank">Scrutinizer</a> | <a href="https://scrutinizer-ci.com/g/dyna-press/dyna/" target="_blank" style="color:red">Run</a></li></li>
            <li><a href="https://www.codacy.com/" target="_blank">Codacy CI</a></li>
            <li><a href="https://jenkins.io/" target="_blank">Jenkins CI</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Code coverage</h5>
            <li><a href="https://coveralls.io/" target="_blank">Coveralls</a></li>
            <li><a href="https://codecov.io/" target="_blank">Codecov</a></li>
            <li><a href="https://github.com/marketplace/category/continuous-integration" target="_blank">More on Github</a></li>
        </div>
    </div>
</div>
<br>
<div class="grid-container">
    <div class="grid-x">
        <div class="cell medium-3 large-3">
            <h5>Performance</h5>
            <li><a href="https://gtmetrix.com/" target="_blank">GT Metrix</a></a></li>
            <li><a href="https://developers.google.com/web/tools/lighthouse/" target="_blank">Google Lighthouse</a></a></li>
            <li><a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank">Google Pagespeed</a></a></li>
            <li><a href="https://www.webpagetest.org/" target="_blank">Webpagetest.org</a></a></li>
            <li><a href="https://github.com/tkadlec/grunt-perfbudget" target="_blank">Grunt Perfbudget</a></a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Accessibility</h5>
            <li><a href="http://wave.webaim.org/" target="_blank">Wave Test</a> | <a href="http://wave.webaim.org/report#/https%3A%2F%2Fdyna.press%2F" target="_blank" style="color: red">Run</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Tools</h5>
            <li><a href="http://edorian.github.io/php-coding-standard-generator" target="_blank">PHPCS Generator</a></li>
        </div>

    </div>
</div>

<hr>
<br>
<h3 style="text-align: center">Build tools</h3>
<br>

<div class="grid-container">
    <div class="grid-x">
        <div class="cell medium-3 large-3">
            <h5>JavaScript Runtime</h5>
            <li><a href="https://nodejs.org" target="_blank">Node JS</a></li>
            <li><a href="http://expressjs.com/" target="_blank">Express JS</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Module Bundler</h5>
            <li><a href="https://webpack.js.org/" target="_blank">Webpack JS</a></li>
            <li><a href="https://parceljs.org/" target="_blank">Parcel JS</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Dependency Mgmt</h5>
            <li><a href="https://getcomposer.org/" target="_blank">Composer</a></li>
            <li><a href="https://github.com/composer/installers" target="_blank">Composer Installers</a></li>
            <li><a href="https://github.com/oomphinc/composer-installers-extender" target="_blank">CI Extender</a></li>
            <li><a href="https://packagist.org/" target="_blank">Packagist</a></li>
            <li><a href="https://yarnpkg.com/" target="_blank">Yarn</a></li>
            <li><a href="https://bower.io/" target="_blank">Bower (is dead)</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Workflow Automation</h5>
            <li><a href="https://gulpjs.com/" target="_blank">Gulp JS</a></li>
            <li><a href="https://gruntjs.com/" target="_blank">Grunt JS</a></li>
        </div>
    </div>
</div>

<hr>
<br>
<h3 style="text-align: center">Comparisons</h3>
<br>

<div class="grid-container">
    <div class="grid-x">
        <div class="cell medium-3 large-3">
            <h5>Foundation, Bootstrap</h5>
            <li><a href="#" target="_blank"></a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Vue, React vs Angular</h5>
            <li><a href="https://medium.com/javascript-in-plain-english/i-created-the-exact-same-app-in-react-and-vue-here-are-the-differences-e9a1ae8077fd" target="_blank">Create an App Article</a></li>
            <li><a href="https://medium.com/fundbox-engineering/react-vs-vue-vs-angular-163f1ae7be56" target="_blank">React, Vue, Angular</a></li>
            <li><a href="https://markojs.com/" target="_blank">Or Markojs? ;)</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5>Fork vs. Branch</h5>
            <li><a href="https://stackoverflow.com/questions/3611256/forking-vs-branching-in-github" target="_blank">on Stackoverflow</a></li>
            <li><a href="https://git-fork.com/" target="_blank">Git Fork Client</a> </li>
            <li><a href="https://martinwolf.org/2018/04/github-branch-as-dependency-package-json/" target="_blank">Fork as dependency</a> </li>
            <li><a href="https://help.github.com/articles/syncing-a-fork/" target="_blank">Syncing a fork</a> </li>
        </div>
        <div class="cell medium-3 large-3">
        </div>
    </div>
</div>

<hr>
<br>
<h3 style="text-align: center">Nomad Jobs and More</h3>
<br>

<div class="grid-container">
    <div class="grid-x">
        <div class="cell medium-3 large-3">
            <h5>Find Jobs</h5>
            <li><a href="https://remoteleads.io/" target="_blank">Remoteleads</a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5></h5>
            <!-- li><a href="#" target="_blank"></a></li -->
        </div>
        <div class="cell medium-3 large-3">
            <h5></h5>
        </div>
        <div class="cell medium-3 large-3">
            <h5></h5>
        </div>
    </div>
</div>
<!--
<hr>
<br>
<h3 style="text-align: center">Header</h3>
<br>

<div class="grid-container">
    <div class="grid-x">
        <div class="cell medium-3 large-3">
            <h5></h5>
            <li><a href="#" target="_blank"></a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5></h5>
            <li><a href="#" target="_blank"></a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5></h5>
            <li><a href="#" target="_blank"></a></li>
        </div>
        <div class="cell medium-3 large-3">
            <h5></h5>
            <li><a href="#" target="_blank"></a></li>
        </div>
    </div>
</div>
-->

<hr>

<footer>
    <br>
    <div class="grid-container" style="text-align: center">
        <h5>You may use this <a href="http://htmlpreview.github.io/?https://github.com/dyna-press/dyna-assets/blob/master/templates/Dyna-Cheatsheet.html">Cheatsheet online</a> or create a local copy from <a href="https://github.com/dyna-press/dyna-assets/tree/master/templates">Github</a>.</h5>
        <h5>Have fun coding!</h5>
    </div>
    <br>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/what-input@5.1.1/dist/what-input.min.js" integrity="sha256-mZ9p7jVl704iNAIB4vCtGXyqW74TG2fwu80nz/OZ04o=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/js/foundation.min.js" integrity="sha256-G6jsRyH1fxbsvFIXSCuwYmI1aIDYBa28xscrvmYjJy0= sha384-vtoG68NvPc9azmFJr447vvY8qgdyA4FdaJ5/bqvzIM4eAdZfO0iyRRF8l2AAscYI sha512-43seCcNrHA0BQgrtyajB9sp8yOdv5c8QdYvgjP7zJ7v+dmzAcxYDQ2gupb9aztsNWBq1COIp/3NHYkQs4l/dkg==" crossorigin="anonymous"></script>
<script>
    $(document).foundation();
</script>

</body>
</html>
